# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS files
.DS_Store
Thumbs.db

# Environments
.env
.venv
env/
venv/
ENV/

# IDE settings
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local Django files
db.sqlite3-journal
media/book_covers/*.tmp
media/qr_codes/*.tmp
